force-app/main/default/flows/Create_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_New_Team</name>
        <label>Create New Team</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>automation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Success_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Country_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>playerName</name>
            <value>
                <elementReference>Player_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>position</name>
            <value>
                <elementReference>Country_Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>automation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>This flow should be used to create a new team. This version has called and used a apex class which include: @InvocableMethod and @InvocableVariable</description>
    <dynamicChoiceSets>
        <name>Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Team__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Countries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_Name__c</picklistField>
        <picklistObject>Team__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Positions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Position__c</picklistField>
        <picklistObject>Team__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Individual_Salary</name>
        <dataType>Currency</dataType>
        <expression>{!Base_Salary} * {!Salary_Multiplier}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Get_Inputs</name>
        <label>Get Inputs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Team</targetReference>
        </connector>
        <fields>
            <name>Player_Name</name>
            <dataType>String</dataType>
            <fieldText>Player Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Country_Name</name>
            <choiceReferences>Countries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Your Country:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Position</name>
            <choiceReferences>Positions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Position:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>Categories</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Category:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Success_Message</name>
        <label>Show Success Message</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>teamCreateSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(2, 157, 118); font-size: 20px;&quot;&gt;Successfully new team is created.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(2, 157, 118); font-size: 20px;&quot;&gt;Id: &lt;/span&gt;&lt;span style=&quot;color: rgb(8, 3, 111); font-size: 20px;&quot;&gt;{!Create_New_Team.teamId}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(2, 157, 118); font-size: 20px;&quot;&gt;Player Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(30, 3, 111); font-size: 20px;&quot;&gt;{!Create_New_Team.name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inputs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Base_Salary</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Setup.Basic_Salary__c.Basic_Salary__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Salary_Multiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
